{% extends 'Base.html' %}
{% block title %}
    {{ p.rid }}
{% endblock %}
{% block style %}
    .chat-container {
    max-width: 800px; /* Set a wider width for the chat container */
    height: 400px; /* Set a fixed height for the chat container */
    overflow-y: auto; /* Enable vertical scroll when messages exceed container height */
    margin: 0 auto;
    }

    .receiver-message {
    background-color: #f0f0f0;
    }



    .image-message {
    max-width: 100%;
    }

{% endblock %}

{% block body %}
    <div class="row">
        <div class="container">
            <form method="post">
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="name">流水号:</label>
                        <input type="text" class="form-control" id="rid" name="rid" value="{{ p.rid }}" disabled>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="department">部门名称:</label>
                        <input type="text" class="form-control" id="department" name="department" readonly required
                               autocomplete="off" value={{ p.project_name }}>
                    </div>
                    <div>
                        <input type="hidden" name="uid" value="{{ user.uid }}" id="uid">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="name">操作账号:</label>
                        <input type="text" class="form-control" id="rid" name="rid" value="{{ p.user_name }}" disabled>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-8">
                        <label for="module">功能模块:</label>
                        <input type="text" class="form-control" id="rid" name="rid" value="{{ p.module }}" disabled>
                    </div>

                    <div class="form-group col-md-4">
                        <label for="problem_type">工单类型:</label>
                        <input type="text" class="form-control" id="rid" name="rid" value="{{ p.ptype }}" disabled>
                    </div>
                </div>
            </form>
            <hr>
            {# 功能模块 #}
            <div class="row" style="justify-content: center;">
                <!-- Chat Box 1 聊天框 -->
                <div class="col-xl-6">
                    <div class="card">
                        <div class="card-header">
                            消息列表
                        </div>
                        <div class="card-body">
                            <div class="chat-container" id="chat-box-cont">
                                <div id="chat-box" class="xl-4">
                                    <!-- Messages will be displayed here -->
                                    <div class="alert mb-2 alert-primary">{{ p.generate_time|time_ftm }}&emsp;System:
                                        <br>
                                        {{ p.text|text_br|safe }}
                                    </div>
                                    {% if p.Message|length > 0 %}
                                        {% for m in p.Message %}
                                            {% if m.type == 'text' %} {# 处理文本消息 #}
                                                {% if m.source == 'user' %}
                                                    <div class="alert mb-2 alert-primary">
                                                        {{ m.up_time|time_ftm }}&emsp;{{ m.author }}:
                                                        <br>
                                                        {{ m.text|text_br|safe }}
                                                    </div>
                                                {% else %}
                                                    <div class="alert mb-2 receiver-message">
                                                        {{ m.up_time|time_ftm }}&emsp;{{ m.author }}:
                                                        <br>
                                                        {{ m.text|text_br|safe }}
                                                    </div>
                                                {% endif %}
                                            {% elif m.type == 'img' %} {# 处理图片 #}
                                                {% if m.source == 'user' %}
                                                    <div class="alert mb-2 alert-primary"
                                                         onclick="window.open('/static/upload/{{ p.rid }}/{{ m.text }}')">
                                                        <img
                                                                src="/static/upload/{{ p.rid }}/{{ m.text }}"
                                                                class="image-message" alt="图片丢失">
                                                    </div>
                                                {% else %}
                                                    <div class="alert mb-2 receiver-message"><img
                                                            src="/static/upload/{{ p.rid }}/{{ m.text }}"
                                                            class="image-message" alt="图片丢失">
                                                    </div>
                                                {% endif %}
                                            {% elif m.type == 'file' %}
                                                {% if m.source == 'user' %}
                                                    <div class="alert mb-2 alert-primary">
                                                        {{ m.up_time|time_ftm }}&emsp;{{ m.author }}:
                                                        <br>
                                                        {{ m.text|text_br|safe }}
                                                    </div>
                                                {% else %}
                                                    <div class="alert mb-2 receiver-message">
                                                        {{ m.up_time|time_ftm }}&emsp;{{ m.author }}:
                                                        <br>
                                                        {{ m.text|text_br|safe }}
                                                    </div>
                                                {% endif %}
                                            {% endif %}

                                        {% endfor %}


                                    {% endif %}

                                </div>
                            </div>

                            <form id="message-form" method="post" action="/Message">
                                <input type="hidden" name="rid" value="{{ p.rid }}" id="rid">
                                <input type="hidden" name="author" value="{{ user.uid }}" id="uid">
                                <div class="input-group">

                                        <textarea id="text" name="text" class="form-control"
                                                  placeholder="Type your message..."
                                                  rows="2"></textarea>
                                    <input type="hidden" name="message_length" value="{{ p.Message|length }}"
                                           id="message_length">
                                    {% if user.uid == p.establish_id %}

                                        <div class="input-group-append" style="display: flex;">
                                            <button class="btn btn-primary" style="flex: 1;">发送</button>
                                        </div>
                                    {% endif %}
                                </div>
                            </form>

                        </div>
                    </div>
                </div>

                <!-- Chat Box 2 文件框 -->
                <div class="col-xl-6 mt-4 mt-xl-0">
                    <div class="card">
                        <div class="card-header">
                            文件列表
                        </div>
                        <div class="card-body">
                            <div class="chat-container">
                                <div id="chat-box" class="xl-4">
                                    <!-- Messages will be displayed here -->
                                    {% if p_list|length > 0 %}
                                        {% for file in p_list %}
                                            <div class="alert mb-2 file-message" style="font-weight: bold;">
                                                {{ file.up_time|time_ftm }}&emsp;{{ file.up_name }}:
                                                <br>
                                                {{ file.filename }}
                                                {% if user.uid == p.establish_id %}
                                                    <br>
                                                    <a href="/static/upload/{{ file.rid }}/{{ file.filename }}">下载</a>
                                                {% endif %}
                                            </div>

                                        {% endfor %}


                                    {% endif %}

                                </div>
                            </div>
                            <div class="input-group">
                                <textarea id="message-input" class="form-control" placeholder="Select your File..."
                                          rows="2" disabled></textarea>
                                <div class="input-group-append" style="display: flex;">
                                    {% if user.uid == p.establish_id %}
                                        <div>
                                            <div class="file_form" id="file-select-div">
                                                <div id="ico"><img class="appico" src="/static/images/upfile.png"
                                                                   alt="S">
                                                </div>
                                            </div>
                                            <input type="hidden" name="hidden_rid" value="{{ rid }}" id="rid">
                                            <input type="hidden" name="up_name" value="{{ user.uid }}" id="up_name">
                                            <input type="file" id="file-input" style="display: none;">
                                        </div>
                                    {% endif %}

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


{% endblock %}

{% block script %}
    <script src="/static/js/popper.min.js"></script>
    <script src="/static/js/select2.min.js"></script>

    <script src="/static/js/upfile2.js"></script>

    <script src="/static/js/messageserver.js"></script>

    <script>
        $(document).ready(function () {
            // 监听表单的提交事件
            $('#message-form').submit(function (event) {
                event.preventDefault(); // 阻止默认的表单提交行为

                // 获取表单数据
                var formData = $(this).serialize();

                // 发送数据到后端
                $.ajax({
                    url: '/Message',
                    type: 'POST',
                    data: formData,
                    success: function (response) {
                        // 处理后端响应
                        if (response.success) {
                            // 清空文本框
                            $('#text').val('');
                            // 刷新
                            location.reload()
                        } else {
                            alert("数据发送失败");
                        }
                    },
                    error: function () {
                        alert('数据发送失败');
                    }
                });
            });


        });
    </script>

    <script>
        $(document).ready(function () {
            // 获取聊天框元素
            var chatBox = $('#chat-box-cont');

            // 滚动到最底部
            chatBox.scrollTop(chatBox.prop("scrollHeight"));
        });

        $(document).ready(function () {
            // 在页面加载完成后等待2秒后执行代码
            setTimeout(function () {
                // 在这里写你想要执行的代码
                // 例如滚动聊天框到底部
                var chatBox = $('#chat-box-cont');
                chatBox.scrollTop(chatBox.prop("scrollHeight"));

                // 还可以执行其他操作
                // ...

            }, 2000); // 等待2秒（2000毫秒）
        });
    </script>
{% endblock %}