<option value="******ERP******">******ERP******</option>
<option value="客户管理-来往单位管理">客户管理-来往单位管理</option>
<option value="客户管理-我添加的来往单位">客户管理-我添加的来往单位</option>
<option value="投标管理-新建标书信息">投标管理-新建标书信息</option>
<option value="投标管理-投标项目管理">投标管理-投标项目管理</option>
<option value="投标管理-项目资料下载">投标管理-项目资料下载</option>
<option value="收入合同管理-新增主合同">收入合同管理-新增主合同</option>
<option value="收入合同管理-新增子合同">收入合同管理-新增子合同</option>
<option value="收入合同管理-合同管理">收入合同管理-合同管理</option>
<option value="收入合同管理-新增待签合同">收入合同管理-新增待签合同</option>
<option value="收入合同管理-待签合同管理">收入合同管理-待签合同管理</option>
<option value="收入合同管理-我负责的合同">收入合同管理-我负责的合同</option>
<option value="收入合同管理-我提交的合同">收入合同管理-我提交的合同</option>
<option value="收入合同管理-合同执行情况">收入合同管理-合同执行情况</option>
<option value="支出合同管理-新增合同">支出合同管理-新增合同</option>
<option value="支出合同管理-我提交的合同">支出合同管理-我提交的合同</option>
<option value="支出合同管理-合同管理">支出合同管理-合同管理</option>
<option value="材料管理-设备材料库管理">材料管理-设备材料库管理</option>
<option value="材料管理-主合同材料管理">材料管理-主合同材料管理</option>
<option value="材料管理-采购合同关联材料">材料管理-采购合同关联材料</option>
<option value="材料管理-材料到货管理">材料管理-材料到货管理</option>
<option value="材料管理-材料出库管理">材料管理-材料出库管理</option>
<option value="工程项目管理-分配预算员">工程项目管理-分配预算员</option>
<option value="工程项目管理-新增订单">工程项目管理-新增订单</option>
<option value="工程项目管理-订单管理">工程项目管理-订单管理</option>
<option value="工程项目管理-施工单点管理">工程项目管理-施工单点管理</option>
<option value="工程项目管理-单点产值申报">工程项目管理-单点产值申报</option>
<option value="工程项目管理-我的单点产值">工程项目管理-我的单点产值</option>
<option value="工程项目管理-单点劳务费增补">工程项目管理-单点劳务费增补</option>
<option value="工程项目管理-单点产值核算">工程项目管理-单点产值核算</option>
<option value="工程项目管理-单点产值批量处理">工程项目管理-单点产值批量处理</option>
<option value="工程项目管理-单点补传CAD图">工程项目管理-单点补传CAD图</option>
<option value="工程项目管理-单点验收管理">工程项目管理-单点验收管理</option>
<option value="工程项目管理-订单验收管理">工程项目管理-订单验收管理</option>
<option value="工程项目管理-送审管理">工程项目管理-送审管理</option>
<option value="工程项目管理-退审管理">工程项目管理-退审管理</option>
<option value="工程项目管理-复审管理">工程项目管理-复审管理</option>
<option value="工程项目管理-结算单管理">工程项目管理-结算单管理</option>
<option value="维护项目管理-预估收入申报">维护项目管理-预估收入申报</option>
<option value="维护项目管理-我的预估收入">维护项目管理-我的预估收入</option>
<option value="维护项目管理-预估收入管理">维护项目管理-预估收入管理</option>
<option value="维护项目管理-结算单管理">维护项目管理-结算单管理</option>
<option value="市政项目管理-预算管理">市政项目管理-预算管理</option>
<option value="市政项目管理-生产成本管理">市政项目管理-生产成本管理</option>
<option value="市政项目管理-代支费用支出记录">市政项目管理-代支费用支出记录</option>
<option value="市政项目管理-施工产值管理">市政项目管理-施工产值管理</option>
<option value="市政项目管理-验收管理">市政项目管理-验收管理</option>
<option value="市政项目管理-送审结算管理">市政项目管理-送审结算管理</option>
<option value="信息化项目管理-预算管理">信息化项目管理-预算管理</option>
<option value="信息化项目管理-生产成本管理">信息化项目管理-生产成本管理</option>
<option value="信息化项目管理-施工产值管理">信息化项目管理-施工产值管理</option>
<option value="信息化项目管理-验收管理">信息化项目管理-验收管理</option>
<option value="信息化项目管理-送审结算管理">信息化项目管理-送审结算管理</option>
<option value="信息化项目管理-代支费用管理">信息化项目管理-代支费用管理</option>
<option value="三方塔项目管理-建设管理">三方塔项目管理-建设管理</option>
<option value="三方塔项目管理-预算管理">三方塔项目管理-预算管理</option>
<option value="三方塔项目管理-站点管理">三方塔项目管理-站点管理</option>
<option value="三方塔项目管理-收入管理">三方塔项目管理-收入管理</option>
<option value="新材料管理-材料采购管理">新材料管理-材料采购管理</option>
<option value="新材料管理-供应商管理">新材料管理-供应商管理</option>
<option value="新材料管理-驻地材料管理">新材料管理-驻地材料管理</option>
<option value="新材料管理-分屯点管理">新材料管理-分屯点管理</option>
<option value="新材料管理-仓库管理">新材料管理-仓库管理</option>
<option value="成本管控-我的年度目标">成本管控-我的年度目标</option>
<option value="成本管控-年度目标管理">成本管控-年度目标管理</option>
<option value="成本管控-年度目标修改申请">成本管控-年度目标修改申请</option>
<option value="成本管控-年度目标修改管理">成本管控-年度目标修改管理</option>
<option value="成本管控-我的月度计划">成本管控-我的月度计划</option>
<option value="成本管控-月度计划管理">成本管控-月度计划管理</option>
<option value="成本管控-工程成本管控">成本管控-工程成本管控</option>
<option value="成本管控-维护成本管控">成本管控-维护成本管控</option>
<option value="成本管控-市政成本管控">成本管控-市政成本管控</option>
<option value="成本管控-信息化成本管控">成本管控-信息化成本管控</option>
<option value="费用报账-招投标费用报账">费用报账-招投标费用报账</option>
<option value="费用报账-工程费用报账">费用报账-工程费用报账</option>
<option value="费用报账-维护费用报账">费用报账-维护费用报账</option>
<option value="费用报账-市政费用报账">费用报账-市政费用报账</option>
<option value="费用报账-信息化费用报账">费用报账-信息化费用报账</option>
<option value="费用报账-职能部门费用报账">费用报账-职能部门费用报账</option>
<option value="费用报账-其他费用报账">费用报账-其他费用报账</option>
<option value="费用报账-费用报账归档">费用报账-费用报账归档</option>
<option value="外管证管理-外管证申请">外管证管理-外管证申请</option>
<option value="外管证管理-外管证登记">外管证管理-外管证登记</option>
<option value="外管证管理-外管证退回">外管证管理-外管证退回</option>
<option value="外管证管理-外管证完税登记">外管证管理-外管证完税登记</option>
<option value="外管证管理-外管证管理">外管证管理-外管证管理</option>
<option value="收入发票管理-完税开票申请">收入发票管理-完税开票申请</option>
<option value="收入发票管理-开票申请">收入发票管理-开票申请</option>
<option value="收入发票管理-我的开票申请">收入发票管理-我的开票申请</option>
<option value="收入发票管理-开票申请管理">收入发票管理-开票申请管理</option>
<option value="收入发票管理-开票补关联">收入发票管理-开票补关联</option>
<option value="收入发票管理-开票登记">收入发票管理-开票登记</option>
<option value="收入发票管理-发票作废申请">收入发票管理-发票作废申请</option>
<option value="收入发票管理-发票作废管理">收入发票管理-发票作废管理</option>
<option value="收入发票管理-发票红冲申请">收入发票管理-发票红冲申请</option>
<option value="收入发票管理-发票红冲管理">收入发票管理-发票红冲管理</option>
<option value="收入发票管理-发票红冲查询">收入发票管理-发票红冲查询</option>
<option value="收入发票管理-发票下载">收入发票管理-发票下载</option>
<option value="收入发票管理-发票退款管理">收入发票管理-发票退款管理</option>
<option value="收款管理-回款明细">收款管理-回款明细</option>
<option value="收款管理-收款管理">收款管理-收款管理</option>
<option value="收款管理-收款跟踪">收款管理-收款跟踪</option>
<option value="收款管理-民工工资回款管理">收款管理-民工工资回款管理</option>
<option value="收款管理-保证金管理">收款管理-保证金管理</option>
<option value="支出发票管理-发票管理">支出发票管理-发票管理</option>
<option value="支出发票管理-补传发票审核">支出发票管理-补传发票审核</option>
<option value="支出发票管理-我的发票">支出发票管理-我的发票</option>
<option value="统计报表-订单产值汇总表">统计报表-订单产值汇总表</option>
<option value="统计报表-单点劳务汇总表">统计报表-单点劳务汇总表</option>
<option value="统计报表-材料入库汇总表">统计报表-材料入库汇总表</option>
<option value="统计报表-材料出库统计">统计报表-材料出库统计</option>
<option value="统计报表-单点产值报表">统计报表-单点产值报表</option>
<option value="统计报表-预提费用统计">统计报表-预提费用统计</option>
<option value="统计报表-其他生产费报表">统计报表-其他生产费报表</option>
<option value="统计报表-劳务费报表">统计报表-劳务费报表</option>
<option value="统计报表-通信维护预提费报表">统计报表-通信维护预提费报表</option>
<option value="统计报表-维护统计报表">统计报表-维护统计报表</option>
<option value="统计报表-信息化统计报表">统计报表-信息化统计报表</option>
<option value="统计报表-开票回款报表">统计报表-开票回款报表</option>
<option value="统计报表-管理成本报表">统计报表-管理成本报表</option>
<option value="统计报表-报账统计">统计报表-报账统计</option>
<option value="系统设置">系统设置</option>
<option value="ERP其他功能">ERP其他功能</option>
<option value="******生产信息化系统******">******生产信息化系统******</option>
<option value="员工管理-员工档案管理">员工管理-员工档案管理</option>
<option value="员工管理-员工兼任职务管理">员工管理-员工兼任职务管理</option>
<option value="员工管理-员工资质证书管理">员工管理-员工资质证书管理</option>
<option value="员工管理-离职人员">员工管理-离职人员</option>
<option value="员工管理-意外保险人员">员工管理-意外保险人员</option>
<option value="员工管理-注册申请管理">员工管理-注册申请管理</option>
<option value="员工管理-人员需求管理">员工管理-人员需求管理</option>
<option value="员工管理-入职管理">员工管理-入职管理</option>
<option value="员工管理-转正管理">员工管理-转正管理</option>
<option value="员工管理-离职管理">员工管理-离职管理</option>
<option value="员工管理-调动管理">员工管理-调动管理</option>
<option value="员工管理-劳动合同管理">员工管理-劳动合同管理</option>
<option value="员工管理-请假管理">员工管理-请假管理</option>
<option value="劳务人员管理-人脸库">劳务人员管理-人脸库</option>
<option value="劳务人员管理-劳务人员档案查询">劳务人员管理-劳务人员档案查询</option>
<option value="劳务人员管理-劳务人员账号管理">劳务人员管理-劳务人员账号管理</option>
<option value="劳务人员管理-入职管理">劳务人员管理-入职管理</option>
<option value="劳务人员管理-离职管理">劳务人员管理-离职管理</option>
<option value="劳务人员管理-劳务人员保险查询">劳务人员管理-劳务人员保险查询</option>
<option value="安全生产-劳保用品领用管理">安全生产-劳保用品领用管理</option>
<option value="安全生产-生产日志管理">安全生产-生产日志管理</option>
<option value="安全生产-施工检查">安全生产-施工检查</option>
<option value="安全生产-施工检查管理">安全生产-施工检查管理</option>
<option value="安全生产-专项检查管理">安全生产-专项检查管理</option>
<option value="安全生产-隐患排查治理管理">安全生产-隐患排查治理管理</option>
<option value="安全生产-施工异常整改">安全生产-施工异常整改</option>
<option value="安全生产-法律服务">安全生产-法律服务</option>
<option value="安全生产-任务指派">安全生产-任务指派</option>
<option value="安全生产-任务转派">安全生产-任务转派</option>
<option value="安全生产-施工异常整改审核">安全生产-施工异常整改审核</option>
<option value="安全生产-事故申报">安全生产-事故申报</option>
<option value="安全生产-培训考试">安全生产-培训考试</option>
<option value="安全生产-培训考试管理">安全生产-培训考试管理</option>
<option value="安全员绩效管理-绩效申报">安全员绩效管理-绩效申报</option>
<option value="安全员绩效管理-绩效管理">安全员绩效管理-绩效管理</option>
<option value="施工管理-劳务公司合作管理">施工管理-劳务公司合作管理</option>
<option value="施工管理-区域管理">施工管理-区域管理</option>
<option value="施工管理-班组管理">施工管理-班组管理</option>
<option value="施工管理-班组登录日志">施工管理-班组登录日志</option>
<option value="施工管理-班前会管理">施工管理-班前会管理</option>
<option value="施工管理-特种作业管理">施工管理-特种作业管理</option>
<option value="施工管理-单点管理">施工管理-单点管理</option>
<option value="施工管理-考勤统计">施工管理-考勤统计</option>
<option value="施工管理-考勤管理">施工管理-考勤管理</option>
<option value="施工管理-单点施工日志管理">施工管理-单点施工日志管理</option>
<option value="施工管理-项目部区域管理">施工管理-项目部区域管理</option>
<option value="施工管理-施工APP管理">施工管理-施工APP管理</option>
<option value="生产订单管理-交底模板管理">生产订单管理-交底模板管理</option>
<option value="生产订单管理-公司安全交底管理">生产订单管理-公司安全交底管理</option>
<option value="生产订单管理-项目安全交底管理">生产订单管理-项目安全交底管理</option>
<option value="生产订单管理-单点安全交底管理">生产订单管理-单点安全交底管理</option>
<option value="生产订单管理-劳务公司安全交底管理">生产订单管理-劳务公司安全交底管理</option>
<option value="生产订单管理-单点施工日志管理">生产订单管理-单点施工日志管理</option>
<option value="意外险申报管理-意外险申报审核">意外险申报管理-意外险申报审核</option>
<option value="意外险申报管理-意外险续保">意外险申报管理-意外险续保</option>
<option value="意外险申报管理-劳务人员保险申报">意外险申报管理-劳务人员保险申报</option>
<option value="意外险申报管理-意外险保单管理">意外险申报管理-意外险保单管理</option>
<option value="合同管理-合同审核申报">合同管理-合同审核申报</option>
<option value="统计报表-年度安全控制目标">统计报表-年度安全控制目标</option>
<option value="统计报表-季度发生伤亡情况">统计报表-季度发生伤亡情况</option>
<option value="统计报表-季度分公司完成情况">统计报表-季度分公司完成情况</option>
<option value="统计报表-季度事故汇总">统计报表-季度事故汇总</option>
<option value="统计报表-年度培训计划情况">统计报表-年度培训计划情况</option>
<option value="统计报表-季度培训情况">统计报表-季度培训情况</option>
<option value="统计报表-人员保险风险控制">统计报表-人员保险风险控制</option>
<option value="统计报表-保险申报工作情况">统计报表-保险申报工作情况</option>
<option value="GPS设备管理">GPS设备管理</option>
<option value="车辆信息管理">车辆信息管理</option>
<option value="车辆运行管理-车辆实时定位">车辆运行管理-车辆实时定位</option>
<option value="车辆运行管理-车辆行驶数据(汇总)">车辆运行管理-车辆行驶数据(汇总)</option>
<option value="车辆运行管理-车辆行驶数据(日程)">车辆运行管理-车辆行驶数据(日程)</option>
<option value="车辆运行管理-车辆轨迹回放">车辆运行管理-车辆轨迹回放</option>
<option value="员工工作管理-员工实时定位">员工工作管理-员工实时定位</option>
<option value="员工工作管理-员工轨迹回放">员工工作管理-员工轨迹回放</option>
<option value="员工工作管理-员工工作数据">员工工作管理-员工工作数据</option>
<option value="员工工作管理-员工工作数据汇总">员工工作管理-员工工作数据汇总</option>
<option value="报账管理-报账申请">报账管理-报账申请</option>
<option value="报账管理-报账汇总">报账管理-报账汇总</option>
<option value="报账管理-报账流程设置">报账管理-报账流程设置</option>
<option value="系统管理">系统管理</option>
<option value="生产信息化系统其他问题">生产信息化系统其他功能</option>