{% extends 'New_Base.html' %}

{% block title %}
    创建工单 {{ user.uid }}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="container mt-4">
            <form method="post">
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="name">流水号:</label>
                        <input type="text" class="form-control" id="rid" name="rid" value="{{ rid }}" readonly required>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="department">部门名称:</label>
                        <input type="text" class="form-control" id="department" name="department" required
                               autocomplete="off" value="{{ user.department }}">
                    </div>
                    <div>
                        <input type="hidden" name="uid" value="{{ user.uid }}" id="uid">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="name">操作账号(手机号):</label>
                        <input type="text" class="form-control" id="name" name="name" required autocomplete="off">
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-8">
                        <label for="module">功能模块:</label>
                        <select class="form-control select2" id="module" name="module" required>
                            <option value="">请选择功能模块</option>
                            {% include 'ModuleList.html' %}
                            <!-- 添加其他选项，可以根据需要在这里提供更多选项 -->
                        </select>
                    </div>

                    <div class="form-group col-md-4">
                        <label for="problem_type">问题类型:</label>
                        <select class="form-control select2" id="problem_type" name="problem_type" required>
                            <option value="">请选择问题类型</option>
                            <option value="问题咨询">问题反馈</option>
                            <option value="使用帮助">使用咨询</option>
                            <option value="意见建议">意见建议</option>
                            <option value="账号创建">账号创建</option>
                            <option value="意见建议">其他</option>
                            <!-- 添加其他选项，可以根据需要在这里提供更多选项 -->
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="description">描述:</label>
                    <textarea class="form-control" id="description" name="description" rows="5" required
                              autocomplete="off"></textarea>
                </div>

                <button type="submit" class="btn btn-primary">提交</button>

            </form>
            <hr>
            <div>
                {# 上传文件 #}


                <div class="row" id="file_list" style="justify-content: center;">


                    <div>
                        <div class="file_form" id="file-select-div">
                            <div id="ico"><img class="appico" src="/static/images/upfile.png" alt="S"></div>
                            <div class="file_tite" style="font-size: 18px;">选择文件并上传</div>
                        </div>
                        <input type="hidden" name="hidden_rid" value="{{ rid }}" id="rid">
                        <input type="hidden" name="up_name" value="{{ user.uid }}" id="up_name">
                        <input type="file" id="file-input" style="display: none;">
                    </div>


                </div>

            </div>


        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="/static/js/popper.min.js"></script>
    <script src="/static/js/select2.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#module').select2({
                width: '100%', // Adjust the width as needed
                placeholder: '请选择功能模块',
                allowClear: true, // Allow clearing the selection
                tags: true, // Allow adding new tags (if needed)
            });
        });

         $(document).ready(function () {
            $('#problem_type').select2({
                width: '100%', // Adjust the width as needed
                placeholder: '请选择问题类型',
                allowClear: true, // Allow clearing the selection
                tags: true, // Allow adding new tags (if needed)
            });
        });


    </script>
    <script src="/static/js/upfile.js"></script>

{% endblock %}
