{% extends 'New_S_Base.html' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="p-3 d-flex" onclick="window.location.href = '/S/processing';">
            <div>
                <div class="icon icon-shape rounded-circle bg-warning text-white mr-4">
                    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" fill="none"
                         stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                         class="feather feather-bell">
                        <path d="M18 8A6 6 0 0 0 6 8c0 7-3 9-3 9h18s-3-2-3-9"></path>
                        <path d="M13.73 21a2 2 0 0 1-3.46 0"></path>
                    </svg>
                </div>
            </div>
            <div>
                <span class="h6">{{ data[0] }}</span>
                <p class="text-sm text-muted mb-0">
                    待回复
                </p>
            </div>
        </div>
        <div class="p-3 d-flex" onclick="window.location.href = '/S/myprocessing';">
            <div>
                <div class="icon icon-shape rounded-circle bg-dark text-white mr-4">
                    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" fill="none"
                         stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                         class="feather feather-at-sign">
                        <circle cx="12" cy="12" r="4"></circle>
                        <path d="M16 8v5a3 3 0 0 0 6 0v-1a10 10 0 1 0-3.92 7.94"></path>
                    </svg>
                </div>
            </div>
            <div>
                <span class="h6">{{ data[1] }}</span>
                <p class="text-sm text-muted mb-0">
                    指派给我的
                </p>
            </div>
        </div>


        <div class="p-3 d-flex" onclick="window.location.href = '/S/processing';">
            <div>
                <div class="icon icon-shape rounded-circle bg-dark text-white mr-4">
                    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" fill="none"
                         stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                         class="feather feather-clock">
                        <circle cx="12" cy="12" r="10"></circle>
                        <polyline points="12 6 12 12 16 14"></polyline>
                    </svg>
                </div>
            </div>
            <div>
                <span class="h6">{{ data[2] }}</span>
                <p class="text-sm text-muted mb-0">
                    全部待处理
                </p>
            </div>
        </div>

        <div class="p-3 d-flex" onclick="window.location.href = '/S/processing';">
            <div>
                <div class="icon icon-shape rounded-circle bg-primary text-white mr-4">
                    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" fill="none"
                         stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                         class="feather feather-activity">
                        <polyline points="22 12 18 12 15 21 9 3 6 12 2 12"></polyline>
                    </svg>
                </div>
            </div>
            <div>
                <span class="h6">{{ data[3] }}</span>
                <p class="text-sm text-muted mb-0">
                    处理中
                </p>
            </div>
        </div>


        <div class="p-3 d-flex" onclick="window.location.href = '/S/all';">
            <div>
                <div class="icon icon-shape rounded-circle bg-warning text-white mr-4">
                    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" fill="none"
                         stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                         class="feather feather-calendar">
                        <rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect>
                        <line x1="16" y1="2" x2="16" y2="6"></line>
                        <line x1="8" y1="2" x2="8" y2="6"></line>
                        <line x1="3" y1="10" x2="21" y2="10"></line>
                    </svg>
                </div>
            </div>
            <div>
                <span class="h6">{{ data[4] }}</span>
                <p class="text-sm text-muted mb-0">
                    今日新增工单
                </p>
            </div>
        </div>

        <div class="p-3 d-flex" onclick="window.location.href = '/S/all';">
            <div>
                <div class="icon icon-shape rounded-circle bg-success text-white mr-4">
                    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" fill="none"
                         stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                         class="feather feather-check">
                        <polyline points="20 6 9 17 4 12"></polyline>
                    </svg>
                </div>
            </div>
            <div>
                <span class="h6">{{ data[6] }}</span>
                <p class="text-sm text-muted mb-0">
                    今日已完成
                </p>
            </div>
        </div>

        <div class="p-3 d-flex" onclick="window.location.href = '/S/all';">
            <div>
                <div class="icon icon-shape rounded-circle bg-danger text-white mr-4">
                    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" fill="none"
                         stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                         class="feather feather-bar-chart-2">
                        <line x1="18" y1="20" x2="18" y2="10"></line>
                        <line x1="12" y1="20" x2="12" y2="4"></line>
                        <line x1="6" y1="20" x2="6" y2="14"></line>
                    </svg>
                </div>
            </div>
            <div>
                <span class="h6">{{ data[5] }}</span>
                <p class="text-sm text-muted mb-0">
                    历史工单数
                </p>
            </div>
        </div>
    </div>
{% endblock %}