{% macro WorkOrderList(plist,mode) %}
    {% if plist|length > 0 %}
        <table class="table table-bordered">
            <tr>
                <td style="width: 60px;">状态</td>
                <td>单流水号</td>
                <td>创建部门</td>
                <td>发起人</td>
                <td>创建时间</td>
                <td>问题模块</td>
                <td style="width: 75px">最后回复</td>
                <td style="width: 80px">受理人</td>

            </tr>
            <tbody>
            {% for p in plist %}
                <tr style="vertical-align: middle;">
                    {% if mode == 'Manage' %}  {# 处理工单渲染模型 #}
                        <td style="font-size: 14px;"
                            onclick="window.location.href = '/S/view/{{ p.rid }}';">
                            {% from 'WorkStatus/processing.html' import processing %}
                            {{ processing(p.solve) }}
                        </td>
                    {% else %}
                        <td style="font-size: 14px;"
                            onclick="window.location.href = '/view/{{ p.rid }}';">
                            {% from 'WorkStatus/processing.html' import processing %}
                            {{ processing(p.solve) }}
                        </td>
                    {% endif %}
                    <td style="width: 90px;font-size: 14px;">{{ p.rid[0:4] }}{{ p.rid[-6:-1] }}</td>
                    <td>{{ p.project_name }}</td>
                    <td>{{ p.establish_id }}</td>
                    <td style="width: 170px">{{ p.generate_time|time_ftm }}</td>
                    <td>{{ p.module }}</td>
                    {# 工单最后一条信息的回复人 #}
                    {% if p.Message|length == 0 %}
                        <td>无</td>
                    {% else %}
                        <td>{{ p.Message[-1].author }}</td>
                    {% endif %}

                    {% if p.solve_name=='Node' %}
                        <td>无</td>
                    {% else %}
                        <td>{{ p.solve_name }}</td>
                    {% endif %}


                </tr>



            {% endfor %}

            </tbody>
        </table>

    {% endif %}
{% endmacro %}